In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv")
df.head()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Package      1714 non-null   object
 1   Item         1714 non-null   object
 2   Title        1714 non-null   object
 3   Rows         1714 non-null   int64
 4   Cols         1714 non-null   int64
 5   n_binary     1714 non-null   int64
 6   n_character  1714 non-null   int64
 7   n_factor     1714 non-null   int64
 8   n_logical    1714 non-null   int64
 9   n_numeric    1714 non-null   int64
 10  CSV          1714 non-null   object
 11  Doc          1714 non-null   object
dtypes: int64(7), object(5)
memory usage: 160.8+ KB

In [7]:
df.isnull()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,False,False,False,False,False,False,False,False,False,False,False,False
1710,False,False,False,False,False,False,False,False,False,False,False,False
1711,False,False,False,False,False,False,False,False,False,False,False,False
1712,False,False,False,False,False,False,False,False,False,False,False,False
1713,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.describe()

,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric
count,1.714000e+03,1714.000000,1714.000000,1714.000000,1714.000000,1714.000000,1714.000000
mean,3.900833e+03,13.086348,1.931155,0.302800,1.270128,0.030922,11.429988
std,3.997025e+04,171.966384,17.416499,1.266075,3.194779,0.405278,171.905339
min,2.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.400000e+01,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,1.055000e+02,5.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,5.847500e+02,9.000000,2.000000,0.000000,2.000000,0.000000,7.000000
max,1.414593e+06,6831.000000,624.000000,17.000000,64.000000,11.000000,6830.000000

In [10]:
df.isna().sum()

Package        0
Item           0
Title          0
Rows           0
Cols           0
n_binary       0
n_character    0
n_factor       0
n_logical      0
n_numeric      0
CSV            0
Doc            0
dtype: int64

In [11]:
df['Title'].unique()

array(["Fair's Extramarital Affairs Data",
       'Consumer Price Index in Argentina', 'Bank Wages', ...,
       'Von Bortkiewicz Horse Kicks Data', "Weldon's Dice Data",
       'Women in Queues'], dtype=object)